@font-face {
	font-family: 'openSans';
	src: url('../fonts/OpenSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
body{
	background-image: url(../img/bg.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	font-family: openSans;
}
#logo{
	font-size: 30px;
}
#logo a{
	text-decoration: none;
	color: blue;
}
.admin-form input{
	width: 207px;
}
input{
	margin: 2px;
	border: 1px gray solid;
	padding: 8px;
}
input[value='Enter']{
	background-color: #0076AF;
	color: #fff;
	border: 1px solid #000;
}
input[type='password']{
	width: 207px;
}
input.add, button.add{
	background-color: #59B210;
	color: #fff;
	border: 1px solid #000;
}
button.add{
	margin-bottom: 20px;
}
input.del{
	background-color: #F51900;
	color: #fff;
	border: 1px solid #000;
}
input.add:hover, button.add:hover{
	transition: all .7s;
	background-color: #C9DCDE;
	color: #000;
}
input.del:hover{
	transition: all .7s;
	background-color: #C9DCDE;
	color: #000;
}
input[value='Enter']:hover{
	transition: all .7s;
	background-color: #C9DCDE;
	color: #000;
}
.regform input{
	width: 300px;
}
.regform input[type='submit']{
	margin-bottom: 30px;
}
.review{
	width: 90%;
	height: 100px;
}
select{
	min-width: 207px;
	padding: 8px;
	margin: 2px;
}
button{
	padding: 8px;
}
.width{
	width: 100%;
}
.width2{
	width: 68%;
}
.width3{
	width: 34%;
	margin-bottom: 30px;
}
.inputwidth{
	min-width: 207px;
}
.enter .row{
	height: 50px;
}
.inp{
	padding: 2px !important;
	width: 150px;
}
.admin-form{
	float: right;
	margin-right: -15px;
}
.content{
	background-color: #fff;
}
.navbar-nav>li>a{
	font-size: 18px;
	font-weight: bold;
}
.navbar-nav>li:hover{
	background-color: #049EDE;
	transition: all 0.7s;
}
.navbar{
	border-radius: 0;
	background: #0076AF;
	border: none;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
}
.price{
	height: 250px;
	line-height: 250px;
}
#price{
	font-size: 60px;
}
.form{
	max-height: 500px;
	overflow-y: scroll;
	box-sizing: border-box;
}
#exit{
	width: 40px;
	padding: 0;
	border: none;
	margin-left: 10px;
	background-color: #F51900;
	color: #fff;
}
#exit:hover{
	transition: all .7s;
	background-color: #C9DCDE;
	color: #000;
}
.name{
	font-size: 14px;
	line-height: 37px;
}
.avatar{
	width: 100%;
	height: 55px;
}
.commentsRow{
	margin-bottom: 20px;
}
.infiniteCarousel_item img{
	height: 100%;
}
.inp, #signin{
	padding: 2px !important;
	width: 150px !important;
	margin-top: 12px;
}
footer{
	height: 100px;
	line-height: 100px;
	background-color: #0076AF;
	margin-top: 15px;
	color: #fff;
	font-size: 19px;
}

   .block {
    border: 1px solid #D1D7DE;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    background-color: #F7F7F9;
   }
   .block::before, .block::after {
    content: ''; 
    position: absolute;
    left: -20px; top: 25px;
    border: 10px solid transparent;
    border-right: 10px solid #D1D7DE;
   }
   .block::after {
    border-right: 10px solid #F7F7F9;
    left: -19px;